---

interface Props {
  it: string;
  en: string;
  title: string;
  img: string;
}

const { it, en, title, img } = Astro.props;

---

<!-- <div class="grid grid-cols-1 sm:grid-cols-12 p-2 gap-2 w-full mt-48 text text-2xl sm:text-4xl md:text-6xl xl:text-8xl font-regular uppercase ">
    <div class="sm:col-span-3"></div>
    <div class="sm:col-span-9">
        <h1 class="it">{it}</h1>
        <h1 class="en">{en}</h1>
    </div>
</div> -->

<div class="flex h-[100vh] w-full p-2 items-center justify-center" data-aos="fade" data-aos-duration="300" data-aos-easing="ease-in-out">
  <img src={title} alt={title} class="p-12 max-w-screen-xl">
  <img src={img} alt={img} class="p-12 absolute -z-10 w-2/3 max-w-screen-md">
</div>