---
import ITEN from '../components/ITEN.astro';

interface Props {
  prev: string;
  next: string;
}

const { prev, next } = Astro.props;
---

<div class="fixed top-0 sm:grid sm:grid-cols-12 gap-2 w-full p-2 z-50">
    <a href="/" class="col-span-6" data-aos="fade" data-aos-duration="300" data-aos-easing="ease-in-out">
        <img src="/logo-1.svg" alt="Logo" class="w-full sm:h-10 lg:h-12 sm:w-auto">
    </a>

    <div class="col-span-6 hidden sm:flex font-medium text-2xl lg:text-4xl uppercase justify-between -mt-1">
        <a href={prev} class="it" data-aos="fade" data-aos-duration="300" data-aos-delay="100" data-aos-easing="ease-in-out">precedente</a>
        <a href={prev} class="en" data-aos="fade" data-aos-duration="300" data-aos-delay="100" data-aos-easing="ease-in-out">previous</a>
        <a href={next} class="it" data-aos="fade" data-aos-duration="300" data-aos-delay="200" data-aos-easing="ease-in-out">prossimo</a>
        <a href={next} class="en" data-aos="fade" data-aos-duration="300" data-aos-delay="200" data-aos-easing="ease-in-out">next</a>
        <div class="flex" data-aos="fade" data-aos-duration="300" data-aos-delay="300" data-aos-easing="ease-in-out">
            <p class="cursor-pointer it-button" data-lang="it">IT</p>
            <p>/</p>
            <p class="cursor-pointer en-button" data-lang="en">EN</p>
        </div>
    </div>
</div>

<div class="fixed flex sm:hidden w-full p-2 bottom-0 font-medium text-xl uppercase">
    <a href={prev} class="it mr-6">precedente</a>
    <a href={prev} class="en mr-6">previous</a>
    <a href={next} class="it">prossimo</a>
    <a href={next} class="en">next</a>
    <div class="flex ml-auto">
        <p class="cursor-pointer it-button" data-lang="it">IT</p>
        <p>/</p>
        <p class="cursor-pointer en-button" data-lang="en">EN</p>
    </div>
</div>

<script is:inline>
    document.addEventListener("DOMContentLoaded", function() {
        const itButtons = document.querySelectorAll(".it-button");
        const enButtons = document.querySelectorAll(".en-button");
    
        itButtons.forEach(button => {
            button.addEventListener("click", function() {
                toggleLanguage('it', 'en');
            });
        });
    
        enButtons.forEach(button => {
            button.addEventListener("click", function() {
                toggleLanguage('en', 'it');
            });
        });
    
        function toggleLanguage(showClass, hideClass) {
            const showElements = document.querySelectorAll(`.${showClass}`);
            const hideElements = document.querySelectorAll(`.${hideClass}`);
            
            showElements.forEach(element => {
                element.style.display = 'block';
            });
    
            hideElements.forEach(element => {
                element.style.display = 'none';
            });
    
            itButtons.forEach(button => {
                if (showClass === 'it') {
                    button.style.opacity = '1';
                } else {
                    button.style.opacity = '0.5';
                }
            });
    
            enButtons.forEach(button => {
                if (showClass === 'en') {
                    button.style.opacity = '1';
                } else {
                    button.style.opacity = '0.5';
                }
            });
        }
    
        toggleLanguage('it', 'en');
    });
</script>

<style>
    .content {
        display: none;
    }
    .cursor-pointer {
        cursor: pointer;
    }
</style>
